body {
	line-height: 14px; font-size: 14px; font-style: normal; text-decoration: none; -ms-scrollbar-face-color: rgb(255, 255, 255); -ms-scrollbar-3dlight-color: rgb(210, 255, 255); -ms-scrollbar-shadow-color: rgb(198, 79, 0); -ms-scrollbar-highlight-color: rgb(230, 230, 230); -ms-scrollbar-darkshadow-color: rgb(210, 255, 255); -ms-scrollbar-arrow-color: rgb(102, 102, 102); -ms-scrollbar-track-color: rgb(238, 238, 238);
}
p {
	font-size: 14px; font-style: normal; font-weight: normal;
}
a {
	color: rgb(255, 0, 0); font-style: normal; font-weight: normal; text-decoration: none;
}
a:visited {
	font-style: normal; font-weight: normal; text-decoration: none;
}
a:active {
	color: red; font-style: normal; font-weight: normal; text-decoration: none;
}
a:hover {
	color: rgb(255, 51, 0); font-style: normal; font-weight: normal; text-decoration: underline;
}
em {
	text-transform: none; font-size: 12px; font-style: normal; font-weight: normal;
}
i {
	font-family: Arial; font-size: 12px; font-style: italic;
}
big {
	font: bold 13pt/normal Times New Roman; font-size-adjust: none; font-stretch: normal;
}
b {
	font-weight: bold; text-decoration: none;
}
td {
	font-size: 12px; font-style: normal; font-weight: normal;
}
strong {
	font-family: "Arial"; font-size: 12px; font-weight: bold; text-decoration: none;
}
.inputext {
	border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgb(255, 255, 230);
}
.btn {
	border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: "ו"; font-size: 12px; background-color: rgb(255, 255, 230);
}
/* CSS Document */
*{margin:0;padding:0;}
body{
margin:0px;
font-size:9px;
}
body,div,ul,li,a,img,form,book,p,menu,img,h5{
border:0px;
margin:0px;
padding:0px;
}
ul,li{
	list-style:none;
}
tr{
margin:0px;
}
TD {
	FONT-SIZE: 9pt; 
}

h2 {
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

img {
    border: none;
}
a:link {color:#333333;text-decoration:none;}
a:visited {color:#333333;text-decoration:none;}
a:hover {color:#0068b7;text-decoration:none;}
a:active {color:#0068b7;text-decoration:none;}

.logomenu a:link{
 color:#ffffff;
 text-decoration:none;
 font-size:12px;
}
.logomenu a:hover{
 color:#ffffff;
 text-decoration:none;
 font-size:12px;
}
.logomenu a:active{
 color:#ffffff;
 text-decoration:none;
 font-size:12px;
}



.topmenu{
font-size:9px;
color:#ffffff;
}

ul {
  color:#ffffff;
}


#nav {   
    background:#0068b7;      
    width: 950px;    
}
#nav .logo {	
	clear: both;
	width: 86px;
}
#nav .size {
	padding-top: 1px;
	padding-right: 1px;
	display: block;
	float: right;
}
#nav .size li {
	display: block;	
	padding-left: 5px;
}
#nav a {
    display: block;  text-align:center;

}
#nav a:link  {
    color:#ffffff; text-decoration:none;
}
#nav a:visited  {
    color:#ffffff;text-decoration:none;
}
#nav a:hover  {
    color:#E3D28E;text-decoration:none;
}
#nav li {
    background:#0068b7;
}
#nav li a:hover{
    background:#0068b7;
}
#nav li ul {
	display: none;
    line-height: 27px;  list-style-type: none;text-align:left;
     position: absolute; float:left;
}
#nav li ul li{
	color:#000000;
    float: left; width: 0px;
    background: #FAEEC7; 
}
#nav li ul a{
    display: block; width: 80px;text-align:center;
}
#nav li ul a:link  {
    color:#000000; text-decoration:none;
}
#nav li ul a:visited  {
    color:#000000;text-decoration:none;
}
#nav li ul a:hover  {
    color:#000000;text-decoration:none;font-weight:normal;
    background:#DFC184;
}
#nav li:hover ul {
	display:block;
}
#nav li.sfhover ul {
	display:block;
}
#content {
    clear: left; 
}

.zhuanti{
border:solid;
margin: 0px;
padding: 3px 0px 2px 0px;
border-width:0px;

}
.leftlink{
height:26px;
border-bottom:dashed;
border-bottom-width:1px;
border-bottom-color:#C1C7D3;
vertical-align:middle;
}
.blankheight{
height:31px;
}
.load{
border:solid;
border-width:1px;
border-color:#D2D2D2;
height:130px;
margin-top:5px;
}
.load2{
border:solid;
border-width:0px;
height:130px;
margin-top:5px;
}
.bottom{
background:#0068b7;
color:#FFFFFF;
height:26px;
}
.bottom2{
background: #EAEAEA;
height:26px;
margin-top:35px;
}

.title-c{
font-size:16px;
font-weight:bold;
color:#0068b7;
height:35px;
}

.redbuttoncss {
width:43px;
height:21px;
font-size: 12px; color: #ffffff;
border: 1px #2F2A16 solid;
border-bottom: #2F2A16 1px solid;
border-left: #2F2A16 1px solid;
border-right: #2F2A16 1px solid;
border-top: #2F2A16 1px solid;
background-color: #0068b7;
cursor: hand;
font-style: normal ;
}
.editbox{
    background: #ffffff;
    border: 1px solid #525252;
    color: #003366;
    cursor: text;
    height: 18px;
    padding: 0px; /*www.52css.com*/
}
.red{
color:#0068b7
}
.jigoutable td{
background-color: #F5F5F5;
}


.zi{
border:solid; border-width:1px; border-width:0 0px 0 0;
border-color:#FFFFFF;
}
.zhu{
border:0px; border-width:0px; border-width:0 0px 0 0;
border-right-color:#C8777D;
}




/*- Menu 11--------------------------- */

#menu12 {
        width: 185px;
        margin: 5px 15px 0px 0px;
        list-style:none; 
        height: 30px;              
        }
#menu12 li{
        margin: 0px 0px 5px 0px;         
         padding: 0px 0 0px 0px; 
         width: 185px;
         height: 30px;
        }
        
#menu12 li a {        
        width: 185px;
        height: 30px;
        padding: 11px 0 0px 25px; 
         background:  url(images/menu11_1.jpg);  
         background-repeat:no-repeat;
        text-decoration: none;
        }
#menu12 li a:link, #menu11 li a:visited {
        color: #0068b7;
        display: block;
        }

#menu12 li a:hover, #menu11 li #current {
        color: #0068b7;
         background:  url(images/menu11_2.jpg);  
         background-repeat:no-repeat;
		font-weight:bold;
        }
        
        
 #menu11 {
        width: 200px;
        margin: 0px 0px 1px 0px;
        list-style:none;       
        }
#menu11 li{
        margin: 0px 0px 0px 0px;         
         padding: 0px 0 0px 0px; 
         color:#ffffff;
        }
        
#menu11 li a {
        height: 33px;
        text-decoration: none;
        padding: 11px 0 0px 25px; 
        background:  url(images/menu12_1.jpg);  
         color:#ffffff;
        }
#menu11 li a:link, #menu11 li a:visited {        
        display: block;        
        color:#ffffff;
        }

#menu11 li a:hover, #menu11 li #current {
        color:#ffffff;
        background:  url(images/menu12_2.jpg); 
		font-weight:bold;
        }
 #menu111 {
        width: 220px;
        margin: 0px 0px 1px 0px;
        list-style:none;       
        }
#menu111 li{
        margin: 0px 0px 0px 0px;         
         padding: 0px 0 0px 0px; 
         color:#ffffff;
        }
        
#menu111 li a {
        height: 33px;
        text-decoration: none;
        padding: 11px 0 0px 25px; 
        background:  url(images/menu12_1.jpg);  
         color:#ffffff;
        }
#menu111 li a:link, #menu11 li a:visited {        
        display: block;        
        color:#ffffff;
        }

#menu111 li a:hover, #menu11 li #current {
        color:#ffffff;
        background:  url(images/menu12_2.jpg); 
		font-weight:bold;
        }
        
.title_fuwu{
font-size:14px;
color:#0068b7;
border-bottom:solid;
border-bottom-color:#0068b7;
border-bottom-width:3px;
}


#top {
	height: 0px;
	height:32px;
	width: 950px;
	background-color:#0068b7;
	clear:both;
	margin: 0px;
}
#top .tomuenu {	
	padding-top: 0px;
	float: left;
	bgcolor:#ffffff;
	margin: 0px;	
}
 #top .tomuenu .size {
	float: left;
	margin: 0px;	
	padding: 0px;
}
 #top .tomuenu  a {
	font-family: "";
	color:#ffffff;
	font-size: 9pt;	
	text-decoration: none;
}
 #top .tomuenu .size a:hover{   
   margin: 0px;
}
 #top .tomuenu .size img {
	padding-right: 0px;
	padding-left: 0px;	
	margin: 0px;
	
}
.ww1 {width:550px;border-bottom:2px solid #0068b7; text-align:left}
.ww1 td {height:12px;text-align:center;width:120px;font-size:12px;cursor:hand;background-repeat:no-repeat;}
.ww1 td.s {font-weight:bold;background-repeat:no-repeat;}

.ww2 {width:550px;border-top:none;font-size:12px;}
.ww2 a:link {color:#333333;text-decoration:none;}
.ww2 a:visited {color:#333333;text-decoration:none;}
.ww2 a:hover {color:#0068b7;text-decoration:none;}
.ww2 a:active {color:#0068b7;text-decoration:none;}

.ww3 a:link {text-decoration:none; padding: 1px 0 0 28px;float:left;}
.ww3 a:visited {text-decoration:none; background:url(images/1/icon1.jpg) 0 -20px ;padding: 1px 0 0 28px;float:left;}
.ww3 a:hover {text-decoration:none; background:url(images/1/icon1.jpg) 0 -20px ;padding: 1px 0 0 28px;float:left;}
.ww3 a:active {text-decoration:none; background:url(images/1/icon1.jpg) 0 -20px ;padding: 1px 0 0 28px;float:left;}
.ww3 td {height:12px;text-align:center;width:90px;font-size:12px;cursor:hand;background-repeat:no-repeat;}
.ww3 td.s{ background-repeat:no-repeat;font-weight:bold;}
.dis {display:block}
.undis {display:none}
.f-right { float:right;color:#000; display:block;}
.cont_box .newslist { padding:20px 0 0 5px;}
.cont_box .newslist li { padding-left:1px;height:30px; line-height:30px;  border-bottom: 1px dashed #CCCCCC; }
.cont_box .newslist li a { color:#0275cc;}

